<html>
    <body>
      <table style="width:80%" border="1" 
            class = "table table-striped table-responsive-md">
        <thead>
          <tr>
            <th>Name</th>
            <th>Desc</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="entry:${pizzamenu}">
                <td th:text="${entry.name}"></td>
                <td th:text="${entry.description}"></td>
                <td th:text="${entry.price}"></td>

          </tr>
        </tbody>
      </table>

      <table style="width:80%" border="1" 
            class = "table table-striped table-responsive-md">
        <thead>
          <tr>
            <th>Name</th>
            <th>Desc</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="entry:${orderitems}">
                <td th:text="${entry.name}"></td>
                <td th:text="${entry.description}"></td>
                <td th:text="${entry.price}"></td>

          </tr>
        </tbody>
      </table>
      <BR>Total Price: <span th:text="${totalprice}"></span><br>

<br>
<b>Authorization checks</b>

<div sec:authorize="isAuthenticated()">
  <p>Welcome, You are logged in</p>
  Logged user: <span sec:authentication="name">Bob</span>
  Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
<br>
<br>
<form action="#" th:action="@{/logout}" method="post">
  <input class="btn btn-warning" type="submit" value="Sign Out" />
</form>
<br>

</div>
<br>
<div sec:authorize="hasAuthority('APPROLE_customer')">
  <p>This shows if you have the customer role.</p>
</div>
<div sec:authorize="hasAuthority('APPROLE_manager')">
  This shows if you have the manager role.
</div>
<div sec:authorize="!isAuthenticated()">
  <p>Not Authenticated, click here to <a class="btn btn-success" href="/login">Sign In</a></p>
  
</div>
<br><b>Links</b>
<br>
<a class="btn btn-success" href="/index">Back to Index</a>
<br>
<a class="btn btn-success" href="/token_details">ID Token Details</a>
<br>
<a class="btn btn-success" href="/manager">Manager area</a>
<br>
<a class="btn btn-success" href="/">Home</a>


    </body>
</html>